
.icon-cancel:before
{
  content: '\e800';
}
/* '' */
.icon-ok:before
{
  content: '\e801';
}
/* '' */
.icon-plus:before
{
  content: '\e802';
}
/* '' */
.icon-minus:before
{
  content: '\e803';
}
/* '' */
.icon-trash-empty:before
{
  content: '\e804';
}
/* '' */
.icon-down-open:before
{
  content: '\e805';
}
/* '' */
.icon-left-open:before
{
  content: '\e806';
}
/* '' */
.icon-right-open:before
{
  content: '\e807';
}
/* '' */
.icon-up-open:before
{
  content: '\e808';
}
/* '' */
.icon-down-dir:before
{
  content: '\e809';
}
/* '' */
.icon-up-dir:before
{
  content: '\e80a';
}
/* '' */
.icon-left-dir:before
{
  content: '\e80b';
}
/* '' */
.icon-right-dir:before
{
  content: '\e80c';
}
/* '' */
.icon-pencil:before
{
  content: '\e80d';
}
/* '' */
.icon-edit:before
{
  content: '\e80e';
}
/* '' */
.icon-search:before
{
  content: '\e80f';
}
/* '' */
.icon-plus-circled:before
{
  content: '\e810';
}
/* '' */
.icon-ccw:before
{
  content: '\e811';
}
/* '' */
.icon-picture:before
{
  content: '\e812';
}
/* '' */
.icon-th:before
{
  content: '\e813';
}
/* '' */
.icon-th-large:before
{
  content: '\e814';
}
/* '' */
.icon-phone:before
{
  content: '\e815';
}
/* '' */
.icon-camera:before
{
  content: '\e816';
}
/* '' */
.icon-mail:before
{
  content: '\e817';
}
/* '' */
.icon-calendar:before
{
  content: '\e818';
}
/* '' */
.icon-arrows-cw:before
{
  content: '\e819';
}
/* '' */
.icon-login:before
{
  content: '\e81a';
}
/* '' */
.icon-logout:before
{
  content: '\e81b';
}
/* '' */
.icon-clock:before
{
  content: '\e81c';
}
/* '' */
.icon-cancel-circled:before
{
  content: '\e81d';
}
/* '' */
.icon-user:before
{
  content: '\e81e';
}
/* '' */
.icon-users:before
{
  content: '\e81f';
}
/* '' */
.icon-wrench:before
{
  content: '\e820';
}
/* '' */
.icon-cog:before
{
  content: '\e821';
}
/* '' */
.icon-cog-alt:before
{
  content: '\e822';
}
/* '' */
.icon-tag:before
{
  content: '\e823';
}
/* '' */
.icon-tags:before
{
  content: '\e824';
}
/* '' */
.icon-attention:before
{
  content: '\e825';
}
/* '' */
.icon-attention-circled:before
{
  content: '\e826';
}
/* '' */
.icon-phone-squared:before
{
  content: '\f098';
}
/* '' */
.icon-filter:before
{
  content: '\f0b0';
}
/* '' */
.icon-docs:before
{
  content: '\f0c5';
}
/* '' */
.icon-menu:before
{
  content: '\f0c9';
}
/* '' */
.icon-money:before
{
  content: '\f0d6';
}
/* '' */
.icon-columns:before
{
  content: '\f0db';
}
/* '' */
.icon-sort:before
{
  content: '\f0dc';
}
/* '' */
.icon-sort-down:before
{
  content: '\f0dd';
}
/* '' */
.icon-sort-up:before
{
  content: '\f0de';
}
/* '' */
.icon-mail-alt:before
{
  content: '\f0e0';
}
/* '' */
.icon-plus-squared:before
{
  content: '\f0fe';
}
/* '' */
.icon-attention-alt:before
{
  content: '\f12a';
}
/* '' */
.icon-calendar-empty:before
{
  content: '\f133';
}
/* '' */
.icon-pencil-squared:before
{
  content: '\f14b';
}
/* '' */
.icon-euro:before
{
  content: '\f153';
}
/* '' */
.icon-dollar:before
{
  content: '\f155';
}
/* '' */
.icon-rouble:before
{
  content: '\f158';
}
/* '' */
.icon-bitcoin:before
{
  content: '\f15a';
}
/* '' */
.icon-sort-name-up:before
{
  content: '\f15d';
}
/* '' */
.icon-sort-name-down:before
{
  content: '\f15e';
}
/* '' */
.icon-sort-alt-up:before
{
  content: '\f160';
}
/* '' */
.icon-sort-alt-down:before
{
  content: '\f161';
}
/* '' */
.icon-sort-number-up:before
{
  content: '\f162';
}
/* '' */
.icon-sort-number-down:before
{
  content: '\f163';
}
/* '' */
.icon-instagram:before
{
  content: '\f16d';
}
/* '' */
.icon-down:before
{
  content: '\f175';
}
/* '' */
.icon-up:before
{
  content: '\f176';
}
/* '' */
.icon-left:before
{
  content: '\f177';
}
/* '' */
.icon-right:before
{
  content: '\f178';
}
/* '' */
.icon-vkontakte:before
{
  content: '\f189';
}
/* '' */
.icon-plus-squared-alt:before
{
  content: '\f196';
}
/* '' */
.icon-google:before
{
  content: '\f1a0';
}
/* '' */
.icon-file-image:before
{
  content: '\f1c5';
}
/* '' */
.icon-sliders:before
{
  content: '\f1de';
}
/* '' */
.icon-trash:before
{
  content: '\f1f8';
}
/* '' */
.icon-copyright:before
{
  content: '\f1f9';
}
/* '' */
.icon-facebook-official:before
{
  content: '\f230';
}
/* '' */
.icon-user-plus:before
{
  content: '\f234';
}
/* '' */
.icon-user-times:before
{
  content: '\f235';
}
/* '' */
.icon-calendar-plus-o:before
{
  content: '\f271';
}
/* '' */
.icon-calendar-minus-o:before
{
  content: '\f272';
}
/* '' */
.icon-calendar-times-o:before
{
  content: '\f273';
}
/* '' */
.icon-calendar-check-o:before
{
  content: '\f274';
}
/* '' */
.icon-user-circle:before
{
  content: '\f2bd';
}
/* '' */
.icon-user-circle-o:before
{
  content: '\f2be';
}
/* '' */
.icon-user-o:before
{
  content: '\f2c0';
}
/* '' */
