.CloseButton
{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  width: 0;
  height: 0;
  min-width: auto;
  padding: 16px;
  background: url(images/CrossIcon_black.svg) center center / 12px no-repeat;
  display: block;
  opacity: var(--icon-opacity);
  cursor: pointer;
}
.CloseButton > .Control
{
  display: none;
}
.CloseButton:hover,
.CloseButton:focus-visible
{
  opacity: .7;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.CloseButton.active
{
  opacity: 1;
}
