@import 'icons/css/fontawesome-fonts.css';

.CloseButton
{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: var(--icon-opacity);
  font-size: 1.1rem;
  color: rgba(0, 0, 0, .5);
}
.CloseButton > .Control
{
  border: none;
  padding: 5px;
}
.CloseButton > .Control::before
{
  font-family: 'fontawesome';
  content: '\e800';
  margin: 0 .2em;
}
.CloseButton.active > .Control
{
  background: transparent;
}
.CloseButton:hover,
.CloseButton:focus-visible
{
  opacity: var(--icon-hover-opacity);
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.CloseButton.active
{
  opacity: 1;
}
