.DatePicker > .Control
{
  padding: 6px;
  min-width: 280px;
  cursor: default;
}
.DatePicker.active > .Control
{
  background-color: var(--control-bg-color);
}
.DatePicker .MonthYearBox
{
  margin: 0 0 0 3px;
}
.DatePicker .MonthYearBox > .Control,
.DatePicker .MonthYearBox:focus-visible > .Control
{
  border: none !important;
  box-shadow: none !important;
}
