@import 'icons/css/fontawesome-fonts.css';
@import 'icons/css/fontawesome-codes.css';

.Icon
{
  display: inline-block;
}
.Icon::before
{
  font-family: 'fontawesome';
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0 .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
