.ListBox
{
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  outline: none;
  margin: var(--widget-margin);
  vertical-align: top;
}
.ListBox > .Control
{
  display: block;
  overflow-y: auto;
  padding: 5px 0;
  height: 100%;
  max-height: 400px;
  min-width: calc(var(--textbox-width) / 2);
  /*max-width: 400px;*/
}
.ListBox:focus-within.keyboard > .Control
{
  border-color: var(--focus-border-color);
  box-shadow: var(--focus-box-shadow);
}
.ListBox[aria-disabled=true] .Option[aria-selected=true]:not([aria-checked])
{
  background: var(--checked-disabled-bg-color);
}
.ListBox[aria-disabled=true] .Option[aria-checked=true]::before
{
  opacity: .4;
}
.ListBox.active .Option[aria-selected=true]
{
  background-color: var(--checked-active-bg-color);
}
.ListBox .Status
{
  padding: var(--control-padding);
  color: var(--dim-color);
  cursor: default;
  text-align: center;
}
.ListBox[aria-busy=true] .Status
{
  display: none;
}
.ListBox[aria-busy=true] > .Control::after
{
  content: '';
  background: url(images/Progress.svg) center center / contain no-repeat;
  display: block;
  padding: 15px;
  margin: 30px;
}
.ListBox[aria-readonly=true] .Option
{
  cursor: default;
}
