.MenuItem
{
  position: relative;
  display: block;
  padding: var(--control-padding);
  cursor: pointer;
  outline: none;
}
.MenuItem:hover
{
  background-color: rgba(0, 0, 0, .05);
}
.MenuItem:focus-visible
{
  color: var(--focus-color);
}
.MenuItem[aria-current=page]
{
  color: var(--checked-bg-color);
  cursor: default;
}
.MenuItem[aria-disabled=true]
{
  color: var(--disabled-color);
}
