.Menu
{
  font-size: .9rem;
  white-space: nowrap;
  user-select: none;
  border-radius: var(--control-border-radius);
}
.Menu .Label
{
  padding: var(--control-padding);
  margin: 2px 0 0 0;
}
.Menu .Separator
{
  height: 1px;
  margin: 2px 0;
  background-color: rgba(0, 0, 0, .1);
}
