@import 'icons/css/fontawesome-fonts.css';

.SpinButton > .Control
{
  width: auto;
}
.SpinButton > .Control > .Inner
{
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  padding: var(--control-padding);
  min-width: 50px;
  cursor: default;
}
.SpinButton .Button
{
  color: rgba(0, 0, 0, .5);
  opacity: var(--icon-opacity);
}
.SpinButton .Button > .Control::before
{
  font-family: 'fontawesome';
  vertical-align: middle;
}
.SpinButton .Button:first-child > .Control::before
{
  content: '\e803';
}
.SpinButton .Button:last-child > .Control::before
{
  content: '\e802';
}
.SpinButton .Button.active > .Control
{
  background-color: transparent;
}
.SpinButton .Button:hover
{
  opacity: .5;
}
.SpinButton .Button[aria-disabled=true] > .Control
{
  opacity: .2;
  background-color: transparent;
}
