.Tab
{
  display: inline-block;
  border-bottom: 3px solid transparent;
  margin: 0 var(--widget-margin);
  padding: 8px 0;
  color: var(--dim-color);
  background-color: #fff;
}
.Tab[aria-selected=true]
{
  border-color: #000;
  cursor: default;
  color: var(--color);
  z-index: 1;
}
.Tab[aria-selected=true]:focus
{
  border-color: var(--checked-bg-color);
}
.Tab:focus-visible
{
  color: var(--focus-color);
}
